<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fanfan.mapper.CategoryMapper">
    <update id="update">
        update category
        <set>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete from category where id = #{id}
    </delete>

    <select id="findPage" resultType="com.fanfan.bean.Category">
        select *from category
        order by sort
    </select>
    <select id="list" resultType="com.fanfan.bean.Category">
        select *
        from category
        where type = #{type}
    </select>
    <select id="getOneByName" resultType="com.fanfan.bean.Category">
        select name
        from category
        where name = #{name}
    </select>
    <select id="getOneBySort" resultType="com.fanfan.bean.Category">
        select sort
        from category
        where sort = #{sort}
    </select>
</mapper>