<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fanfan.mapper.DishMapper">


    <select id="findPage" resultType="com.fanfan.dto.DishDto">
        select a.id, a.name, a.update_time, a.image, a.status, a.price, b.name as 'category_name'
        from dish as a
        inner join category as b on a.category_id = b.id
        <where>
            <if test="name != null and name !='' ">
                and a.name like concat ('%',#{name},'%')
            </if>
        </where>
        order by update_time desc
    </select>
    <select id="getById" resultType="com.fanfan.dto.DishDto">
        select a.*,b.name as 'category_name'
        from dish as a
        inner join category as b on a.category_id = b.id
        where a.id = #{id}
    </select>
</mapper>